.container {
    background-color: #343a40;
    border-radius: 10px;
    color: white;
    width: 80%;
    justify-content: center;
  }

  .container input{
    background-color: #343a40;
    color: white;
  }


  