<app-vehicle-navigation></app-vehicle-navigation>
<p>vehicle works!</p>
<button class="btn btn-primary" (click)="onEdit()">Bewerk</button>
<button class="btn btn-primary" (click)="onDelete()">Verwijderen</button>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-12 text-center values">
        <div class="form-group">
          <label for="cardNumber">Kaartnummer:</label>
          <span id="cardNumber"> Gascard.cardNumber</span>
        </div>
        <div class="form-group">
          <label for="experiationDate">Vervaldatum:</label>
          <span id="experiationDate"> Gascard.experiationDate</span>
        </div>
        <div class="form-group">
          <label for="pincode">Pincode:</label>
          <span id="pincode"> Gascard.pincode</span>
        </div>
        <div class="form-group">
          <label for="blocked">Geblokkeerd:</label>
          <span id="blocked"> Gascard.blocked</span>
        </div>
        <div class="form-group">
          <label for="fuelType">Brandstof:</label>
          <span id="fuelType"> Gascard.fuelType</span>
        </div>
        <div class="form-group">
          <label for="driverId">Bestuurder:</label>
          <span id="driverId"> Gascard.driverId</span>
        </div>
      </div>
    </div>
  </div> -->
